#home{
    display: grid;
    grid-template-columns: 20% 80%;
}

#body {
    background-color: black;
    height: 150vh;
    color: white;
}

#home-navbar {
position: sticky;
top:0;

}

nav {
    padding: 50px 30px;
}

nav a {
 text-decoration: none;
 font-size: 28px;
 color: white;
 display: block;
 margin-bottom: 40px;
}

.nav-icons {
    color: gray;
    width: 50px;
    font-size: 38px;
}

#msg-icon {
  /* transform:  skew("10deg"); */
  transform:  scale(2) rotate(-20deg);
  width: 50px;
}

#msg-icon-link{
    
}